body {
    margin: 0;
    background: url('../images/backgorund.jpg') fixed
}
h1 {
    color: blue
}
* {
    box-sizing: border-box;
}

header {
    background: url('../images/header.jpg');
    color: white;
    font-size: 80px;
    font-weight: bold;
    padding: 80px 60px;
    text-shadow: 0 0 20px rbga(0.0.0.6)
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    }

    .contant::after {
        content: "";
        clear: both;
        display: table;
      }

      .contant {

        background-color: rgba(105,110,0,.2)
      }

nav {
    width: 25%;
    float: left;

}

main {
    width: 75%;
    background-color: white;
    float: left;
    padding: 30px;
}

nav ul {
    margin: 0;
    padding: 30px;
    list-style: none
}

nav ul li {
    border-bottom: 1px dashed rgba(255,255,255,.2);
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 0;
}

nav a:hover {
    padding: 15px;
    background: rgba(255,255,255,.2);
}

.float1 {
    float: left;
    margin: 0 20px 20px 0;
}

.float2 {
    float: right;
    margin: 0 0 0 20px;
}

main p{
    line-height: 25px;
}

footer {
    padding: 20px 0;
}

